## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [1]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [4]:
len(string_01.replace(' ', ''))

225

2. Посчитайте, сколько в строке слов.

In [134]:
len(string_01.replace(' -', '').split(' ')) # '-' not a word

45

In [135]:
string_01.count(' ')

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [13]:
def letter_word(letter, string = string_01):
    pure_string = string_01.replace(' -', '')\
    .replace('.', '').replace(',', '').\
    split(' ')
    for word in pure_string:
        if word[0] == letter:
            print(word)
letter_word('w')

written
winners
winner
writes
which

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [58]:
from random import randint


def randstring(length):
    str_ = ''
    for i in range(6):
        str_ += str(randint(1,9))
    return str_

str_ = randstring(6)
while True:
    if '3' in str_:
        print(str_)
        break
    else:
        str_ = randstring(6)

767934

#### Задача 3

Дан список:

In [59]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [67]:
# e - element
sum_ = _
for e in list_01:
    if 10 < e < 100 or 200 < e < 500:
        sum_ += e
sum_

4356

#### Задача 4

Данные студентов представлены в виде списка списков:

In [89]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [90]:
dstudents = {}
for student in students:
    dstudents[student[0]] = student[1:]
dstudents

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [91]:
def change_stud_groupnum(st_num, new_groupnum):
    student_info = dstudents.get(st_num)
    
    if student_info:
        dstudents[st_num][-1] = new_groupnum
    else:
        print("Incorrent SudentNumber")
        

change_stud_groupnum('0607', 'AAAA')
dstudents

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'AAAA']}

In [92]:
def change_stud_groupnum(st_num, new_groupnum):
    student_info = dstudents.get(st_num)
    
    if student_info:
        dstudents[st_num][-1] = new_groupnum
    else:
        print("Incorrent SudentNumber")
        

change_stud_groupnum('06d07', 'AAAA')
dstudents

Incorrent SudentNumber

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'AAAA']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [101]:
def stud_personal_data(group_num):
    for v in dstudents.values():
        if v[-1] == group_num:
            print(f'{v[0]} {v[1]} {v[2]}')

In [104]:
stud_personal_data('БСТ161')

Антонов Антон Игоревич
Степанова Наталья Александровна
Боков Игорь Харитонович

#### Задача 5

Дана матрица:

In [105]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [128]:
sum(sum(matrix, []))

89

In [129]:
import numpy as np
np.array(matrix).sum()

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [130]:
np.sum(matrix, axis=0)

array([18, 19, 17, 13, 22])

In [131]:
np.sum(matrix, axis=0).max()

22

In [132]:
c = [0,0,0,0,0]
for row in matrix:
    for i in range(len(row)):
        c[i] += row[i]
c

[18, 19, 17, 13, 22]

In [136]:
max(c)

22

In [138]:
np.amax(matrix)

9

In [ ]:
np.max()