Имеются данные adult.csv (см. в материалах к занятию).
Целевой переменной является уровень дохода income (крайний правый столбец).
Описание признаков можно найти по ссылке [link](http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html)

---

Вам необходимо построить модели логистической регрессии и SVM, которые предсказывает уровень дохода человека.
Вывести качество полученных моделей на тестовой выборке, используя функцию score у модели.
Готовый ноутбук выложить на гитхаб и прислать ссылку.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.csv', na_values='?')
df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K

Предварительно изучив датасет мы знаем, что ? - это пропущенное значение. Читаем, заменя ? на пустое значение.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        46043 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       46033 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   47985 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

**В датасете достаточно большое количество данных, мы можем выбросить строки с пропущенными значениями.**

In [4]:
rows_amount = len(df)

In [5]:
# dropping rows with None value
df.dropna(axis=0, inplace=True)
print(f"Dropped {rows_amount - len(df)} rows. Which is {((rows_amount - len(df)) / rows_amount):.2%} of total rows")

Dropped 3620 rows. Which is 7.41% of total rows

Установим категориальный тип данных для дохода. В дальнейшем мы сможем использовать эту колонку без присваивания лейблов категориям

In [6]:
# Пример присваивания лейблов вместо амены типа данных
# from sklearn.preprocessing import LabelEncoder
# LabelEncoder().fit_transform(df['income'])

In [7]:
df['income'] = df['income'].astype('category')

In [8]:
X = pd.get_dummies(df.drop("income", axis=1))
y = df['income']

Разбиваем данные на тестовую и обучающую выборки

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.6, random_state=52)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [11]:
# LR solvers - ['liblinear', 'newton-cg', 'lbfgs', 'sag', 'saga'] 
m_log = LogisticRegression()
m_svc = SVC()

In [12]:
m_log.fit(X_train, y_train);
m_svc.fit(X_train, y_train)

SVC()

In [13]:
print(f"Logistic_Regression_score {m_log.score(X_test, y_test):.4f}")
print(f"SVC_score {m_svc.score(X_test, y_test):.4f}")

Logistic_Regression_score 0.7935
SVC_score 0.7918

Ниже пример с промежуточным сохранением результата предсказания моделями

In [14]:
# y_pred_log = m_log.predict(X_test)
# y_pred_svc = m_svc.predict(X_test)

In [15]:
# from sklearn.metrics import accuracy_score
# print(accuracy_score(y_test, y_pred_log))
# print(accuracy_score(y_test, y_pred_svc))